<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coronavirus Tracker</title>
  <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
  <script defer src="../public/js/index.js"></script>
</head>

<body>
  <header class="header">
    <div class="header__title">
      <h1><span id="covid">Covid-19</span> Global Trend</h1>
    </div>
    <div class="header__data">
      <p class="date">
        Last Update<br />
        <span class="update-date">
          <%= moment().format('DD-MMMM-YYYY') %></span>
      </p>
    </div>
    <div class="header__content">
      <p class="items">
        Confirmed<br />
        <span class="item confirmed"><%= corona.cases %></span>
      </p>
      <p class="items">
        Recovered<br />
        <span class="item recovered"><%= corona.deaths %></span>
      </p>
      <p class="items">
        Deaths<br />
        <span class="item deaths"><%= corona.recovered %></span>
      </p>
    </div>
  </header>

  <section class="countries">
    <% for(let i = 0; i < countries.length; i++) { %>
    <div class="countries__container">
      <div class="countries__country">
        <button class="btn"><%- countries[i] %></button>
      </div>
      <div class="countries__detail">
        <p class="country-detail">
          Confirmed<br />
          <span class="detail confirmed"><%= cases[i] %></span>
        </p>
        <p class="country-detail">
          Recovered<br />
          <span class="detail recovered"><%= recovered[i] %></span>
        </p>
        <p class="country-detail">
          Deaths<br />
          <span class="detail deaths"><%= deaths[i] %></span>
        </p>
      </div>
    </div>
    <%}%>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
  </body>
</html>